
__pycache__/Download_JSON.cpython-37.pyc
.ipynb_checkpoints/Building Notices of Inventory Completion URL Dataset-checkpoint.ipynb
.ipynb_checkpoints/Saving Notices of Inventory Completion-checkpoint.ipynb
.ipynb_checkpoints/Saving Notices of Inventory Completion-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Saving Notices of Inventory Completion-checkpoint.ipynb
.ipynb_checkpoints/Saving Notices of Inventory Completion-checkpoint.ipynb
src/notebooks/.ipynb_checkpoints/Building Notices of Inventory Completion URL Dataset-checkpoint.ipynb
.DS_Store
src/notebooks/.ipynb_checkpoints/Full Text Pulling and Parsing-checkpoint.ipynb
